<div class="row">
  <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-4">
    <div class="thumbnail">
      <div class="caption">
        <h1>Login</h1>
        <%= form_tag @user do %>
          <div class="field" >
            <%= label_tag :email %>
            <%= text_field_tag :email %>
          </div>
          <div class="field">
            <%= label_tag :password %>
            <%= password_field_tag :password %>
          </div>
          <div class="actions"><%= submit_tag "Log in" %></div>
      </div>
    </div>
  </div>
</div>
<% end %>
